In [51]:
import pandas as pd
import ssl
import qgrid
from urllib import request


url="https://www.bbc.co.uk/sport/football/premier-league/table"
context = ssl._create_unverified_context()
response = request.urlopen(url, context=context)
html = response.read()

prem_table = pd.read_html(html)
Premier_table = prem_table[0]

print(len(prem_table))
print(type(prem_table))

Premier_table.head(18)

1
<class 'list'>

,Unnamed: 0,Unnamed: 1,Team,P,W,D,L,F,A,GD,Pts,Form
0,1,team hasn't moved,Liverpool,4,4,0,0,12,3,9,12,WWon 4 - 1 against Norwich City on August 9th ...
1,2,team hasn't moved,Man City,4,3,1,0,14,3,11,10,WWon 5 - 0 against West Ham United on August 1...
2,3,team hasn't moved,Leicester,4,2,2,0,6,3,3,8,DDrew 0 - 0 against Wolverhampton Wanderers on...
3,4,team hasn't moved,Crystal Palace,4,2,1,1,3,2,1,7,DDrew 0 - 0 against Everton on August 10th 201...
4,5,team hasn't moved,Arsenal,4,2,1,1,6,6,0,7,WWon 1 - 0 against Newcastle United on August ...
5,6,team hasn't moved,Everton,4,2,1,1,4,4,0,7,DDrew 0 - 0 against Crystal Palace on August 1...
6,7,team hasn't moved,West Ham,4,2,1,1,6,7,-1,7,LLost 0 - 5 against Manchester City on August ...
7,8,team hasn't moved,Man Utd,4,1,2,1,7,4,3,5,WWon 4 - 0 against Chelsea on August 11th 2019...
8,9,team hasn't moved,Tottenham,4,1,2,1,7,6,1,5,WWon 3 - 1 against Aston Villa on August 10th ...
9,10,team hasn't moved,Sheff Utd,4,1,2,1,5,5,0,5,DDrew 1 - 1 against AFC Bournemouth on August ...
10,11,team hasn't moved,Chelsea,4,1,2,1,6,9,-3,5,LLost 0 - 4 against Manchester United on Augus...
11,12,team hasn't moved,Burnley,4,1,1,2,5,6,-1,4,WWon 3 - 0 against Southampton on August 10th ...
12,13,team hasn't moved,Southampton,4,1,1,2,4,6,-2,4,LLost 0 - 3 against Burnley on August 10th 201...
13,14,team hasn't moved,Newcastle,4,1,1,2,3,5,-2,4,LLost 0 - 1 against Arsenal on August 11th 201...
14,15,team hasn't moved,Bournemouth,4,1,1,2,5,8,-3,4,DDrew 1 - 1 against Sheffield United on August...
15,16,team hasn't moved,Brighton,4,1,1,2,4,7,-3,4,WWon 3 - 0 against Watford on August 10th 2019...
16,17,team hasn't moved,Wolves,4,0,3,1,4,5,-1,3,DDrew 0 - 0 against Leicester City on August 1...
17,18,team hasn't moved,Aston Villa,4,1,0,3,4,6,-2,3,LLost 1 - 3 against Tottenham Hotspur on Augus...

In [6]:
Premier_table.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Team', 'P', 'W', 'D', 'L', 'F', 'A', 'GD',
       'Pts', 'Form'],
      dtype='object')

In [7]:
Premier_league = Premier_table.drop(['Unnamed: 1'], axis=1)

In [15]:
Premier_league.head()

,Unnamed: 0,Team,P,W,D,L,F,A,GD,Pts,Form
0,1,Liverpool,4.0,4.0,0.0,0.0,12.0,3.0,9.0,12.0,WWon 4 - 1 against Norwich City on August 9th ...
1,2,Man City,4.0,3.0,1.0,0.0,14.0,3.0,11.0,10.0,WWon 5 - 0 against West Ham United on August 1...
2,3,Leicester,4.0,2.0,2.0,0.0,6.0,3.0,3.0,8.0,DDrew 0 - 0 against Wolverhampton Wanderers on...
3,4,Crystal Palace,4.0,2.0,1.0,1.0,3.0,2.0,1.0,7.0,DDrew 0 - 0 against Everton on August 10th 201...
4,5,Arsenal,4.0,2.0,1.0,1.0,6.0,6.0,0.0,7.0,WWon 1 - 0 against Newcastle United on August ...

In [16]:
Premier_league.dtypes

Unnamed: 0     object
Team           object
P             float64
W             float64
D             float64
L             float64
F             float64
A             float64
GD            float64
Pts           float64
Form           object
dtype: object

In [14]:
Premier_league[['F', 'A', 'P', 'W', 'D', 'L', 'GD', 'Pts']] = Premier_league[['F', 'A', 'P', 'W', 'D', 'L', 'GD', 'Pts']].apply(pd.to_numeric, errors='coerce')

In [21]:
Premier_league.tail(3)

,Unnamed: 0,Team,P,W,D,L,F,A,GD,Pts,Form
17,18,Aston Villa,4.0,1.0,0.0,3.0,4.0,6.0,-2.0,3.0,LLost 1 - 3 against Tottenham Hotspur on Augus...
18,19,Norwich,4.0,1.0,0.0,3.0,6.0,10.0,-4.0,3.0,LLost 1 - 4 against Liverpool on August 9th 20...
19,20,Watford,4.0,0.0,1.0,3.0,2.0,8.0,-6.0,1.0,LLost 0 - 3 against Brighton & Hove Albion on ...

In [20]:
Premier_league.drop(Premier_league.tail(1).index, inplace=True)

In [23]:
Premier_league.rename(columns={'Unnamed: 0' : 'Position'}, inplace=True)
Premier_league.head()

,Position,Team,P,W,D,L,F,A,GD,Pts,Form
0,1,Liverpool,4.0,4.0,0.0,0.0,12.0,3.0,9.0,12.0,WWon 4 - 1 against Norwich City on August 9th ...
1,2,Man City,4.0,3.0,1.0,0.0,14.0,3.0,11.0,10.0,WWon 5 - 0 against West Ham United on August 1...
2,3,Leicester,4.0,2.0,2.0,0.0,6.0,3.0,3.0,8.0,DDrew 0 - 0 against Wolverhampton Wanderers on...
3,4,Crystal Palace,4.0,2.0,1.0,1.0,3.0,2.0,1.0,7.0,DDrew 0 - 0 against Everton on August 10th 201...
4,5,Arsenal,4.0,2.0,1.0,1.0,6.0,6.0,0.0,7.0,WWon 1 - 0 against Newcastle United on August ...

In [27]:
Premier_league['Goal Ratio'] = round(Premier_league['F'] / Premier_league['A'], 1)
Premier_league.head(3)

,Position,Team,P,W,D,L,F,A,GD,Pts,Form,Goal Ratio
0,1,Liverpool,4.0,4.0,0.0,0.0,12.0,3.0,9.0,12.0,WWon 4 - 1 against Norwich City on August 9th ...,4.0
1,2,Man City,4.0,3.0,1.0,0.0,14.0,3.0,11.0,10.0,WWon 5 - 0 against West Ham United on August 1...,4.7
2,3,Leicester,4.0,2.0,2.0,0.0,6.0,3.0,3.0,8.0,DDrew 0 - 0 against Wolverhampton Wanderers on...,2.0

In [28]:
Premier_league = Premier_league[['Position', 'Team', 'P', 'W', 'D', 'L', 'F', 'A', 'Goal Ratio', 'GD', 'Pts']]
Premier_league.head(3)

  Position       Team    P    W    D    L     F    A  Goal Ratio    GD   Pts
0        1  Liverpool  4.0  4.0  0.0  0.0  12.0  3.0         4.0   9.0  12.0
1        2   Man City  4.0  3.0  1.0  0.0  14.0  3.0         4.7  11.0  10.0
2        3  Leicester  4.0  2.0  2.0  0.0   6.0  3.0         2.0   3.0   8.0

In [45]:
one_less_fixture = Premier_league.P == 4

In [48]:
Premier_league[one_less_fixture]

,Team,P,W,D,L,F,A,Goal Ratio,GD,Pts
Position,,,,,,,,,,
1,Liverpool,4.0,4.0,0.0,0.0,12.0,3.0,4.0,9.0,12.0
2,Man City,4.0,3.0,1.0,0.0,14.0,3.0,4.7,11.0,10.0
3,Leicester,4.0,2.0,2.0,0.0,6.0,3.0,2.0,3.0,8.0
4,Crystal Palace,4.0,2.0,1.0,1.0,3.0,2.0,1.5,1.0,7.0
5,Arsenal,4.0,2.0,1.0,1.0,6.0,6.0,1.0,0.0,7.0
6,Everton,4.0,2.0,1.0,1.0,4.0,4.0,1.0,0.0,7.0
7,West Ham,4.0,2.0,1.0,1.0,6.0,7.0,0.9,-1.0,7.0
8,Man Utd,4.0,1.0,2.0,1.0,7.0,4.0,1.8,3.0,5.0
9,Tottenham,4.0,1.0,2.0,1.0,7.0,6.0,1.2,1.0,5.0
10,Sheff Utd,4.0,1.0,2.0,1.0,5.0,5.0,1.0,0.0,5.0
11,Chelsea,4.0,1.0,2.0,1.0,6.0,9.0,0.7,-3.0,5.0
12,Burnley,4.0,1.0,1.0,2.0,5.0,6.0,0.8,-1.0,4.0
13,Southampton,4.0,1.0,1.0,2.0,4.0,6.0,0.7,-2.0,4.0
14,Newcastle,4.0,1.0,1.0,2.0,3.0,5.0,0.6,-2.0,4.0
15,Bournemouth,4.0,1.0,1.0,2.0,5.0,8.0,0.6,-3.0,4.0
16,Brighton,4.0,1.0,1.0,2.0,4.0,7.0,0.6,-3.0,4.0
17,Wolves,4.0,0.0,3.0,1.0,4.0,5.0,0.8,-1.0,3.0
18,Aston Villa,4.0,1.0,0.0,3.0,4.0,6.0,0.7,-2.0,3.0
19,Norwich,4.0,1.0,0.0,3.0,6.0,10.0,0.6,-4.0,3.0
20,Watford,4.0,0.0,1.0,3.0,2.0,8.0,0.2,-6.0,1.0

In [49]:
Premier_league[(Premier_league.D > 2)]

            Team    P    W    D    L    F    A  Goal Ratio   GD  Pts
Position
17        Wolves  4.0  0.0  3.0  1.0  4.0  5.0         0.8 -1.0  3.0

In [53]:
qgrid_widget = qgrid.show_grid(Premier_league, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…